/* .hide {
    display: none;
}

.jumbotron {
    

    background-color: lightskyblue;
    min-height: 75%; 
    min-height: 75vh; 
  
    display: flex;
    align-items: center;

} */

.contentImage {
    width: 100%;
}
.contentCaption, .contentLocation {
    width: 100%;
    text-align: center;
    font-size: 1em;
}

#heading {
    font-size: 50px;
    text-align: center;
}
/* body {
    background-color: blue;
} */

#inputLocation, #inputCaption{
    font-size: 25px;
}



#placesBeen {
    font-size: 50px;
    text-align: center;
}

#memories {
    text-align: center;
    
}
.uploadComp {
    font-size: 30px;
}
#buttonWrapper {
    display: flex;
    justify-content: center;
    padding: 15px;
}

#logoWrapper {
    text-align: center;
}

#logoimage {
    width: 200px;
    height: 200px;
}
#welcomeText {
    text-align: center;
}
#locationInput {
    width: 30%;
}
#imageCaption {
    width: 70%;
}
#linkToPhotos {
    text-align: center;
    
}